extends layout

block content
  .container.text-center
    h1= title
    if fullname && status && manager
      p Want to add a movie?
      p
        a(href='/addmovies') Click Here
  .container
    each movie in movies
      a(href='/movie?mid='+movie['id'])
        .container(style='margin-bottom:10px;')
          .row
            .container
              .col.col-lg-3
                  img(src="/images/"+movie['cover'], alt=movie['title'], width='150')
              .col.col-lg-3
                .h3
                  span= movie['title']
                .h5
                  span= 'Release: ' + moment(movie['rdate']).format("MM/DD/YYYY")
                .h5
                  span= 'Language: ' + movie['language']
                .h5
                  span= 'Length: ' + movie['duration']
                .h5
                  span= 'Rating: ' + movie['star'] + '/5'
                .h5
                  span= 'Tags: '
                    each tag in tags
                      if tag['movie_id'] == movie['id']
                        a(href='/movie/' + tag['movie_id'])
                          div
                            span= tag['tag']
                .h5
                  span= 'Crews: '
                    each crew in crews
                      if crew['movie_id'] == movie['id']
                        a(href='/movie/' + crew['name'])
                          div
                            span= crew['name'] + ' : ' + crew['role']
                .h5
                  span= 'Genre: '
                    each genre in genres
                      if genre['movie_id'] == movie['id']
                        a(href='/movie/' + genre['name'])
                          div
                            span= genre['genre']
              .col.col-lg-5
                .h5
                  span= movie['description']
              .col.col-lg-1
                if fullname && status
                  .container
                    .row
                      a(href='/edit?movie_id='+movie.id, title='Edit movie information')
                        p.glyphicon.glyphicon-pencil
                    .row
                      a(href='/remove?movie_id='+movie.id, title='Delete movie information')
                        p.glyphicon.glyphicon-remove-circle
