extends layout

block content
  .container
    .row(style='margin-bottom:30px;')
      .col.col-lg-12.text-center
        .h1
          span= movie[0].title
    .row
      .container
        .col.col-lg-3
          img(src='/images/' + movie[0].cover, width='250')
        .col.col-lg-3
          .h5
            span= 'Release: ' + movie[0].rdate
          .h5
            span= 'Language: ' + movie[0].language
          .h5
            span= 'Length: ' + movie[0].duration
          .h5
            span= 'Rating: ' + movie[0].star
        .col.col-lg-6
          .h5
            span= movie[0].description
