extends layout

block content
  .container
    each movie in movies
      a(href='/movie?mid='+movie["id"])
        .container(style='margin-bottom:10px;')
          .row
            .container
              .col.col-lg-3
                  img(src="/images/"+movie['cover'], alt=movie['title'], width='150')
              .col.col-lg-3
                .h3
                  span= movie['title']
                .h5
                  span= 'Release: ' + moment(movie['rdate']).format("MM/DD/YYYY")
                .h5
                  span= 'Language: ' + movie['language']
                .h5
                  span= 'Length: ' + movie['duration']
                .h5
                  span= 'Rating: ' + movie['star'] + '/5'
              .col.col-lg-6
                .h5
                  span= movie['description']
